#contact-container {
  width: calc(100vw - 65px);
  height: 100%;
  background-color: #1f1f1f;
  display: table;
}
.contact-email p {
  color: #fff;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 300;
  z-index: 1;
  position: relative;
  display: table;
  cursor: pointer;
}
.contact-email hr {
  width: 0;
  height: 80px;
  top: -80px;
  left: 25px;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  z-index: 0;
  border: 0;
  border-top: none;
  background-color: #e28600;
  -webkit-transition: width .6s ease-out;
  transition: width .6s ease-out;
}
a {
  text-decoration: none!important;
}
.contact-email:hover hr {
  width:450px;
  -webkit-transition: width .6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: width width .6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.contact-title {
  color: #e28600;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 3px;
}
.contact-content {
  padding-left: 15%;
  line-height: 60px;
}
.fa {
  color: #fff;
  text-decoration: none!important;
  margin-top: 30px;
  position: absolute;
}
