#home {
	width: calc(100vw - 65px);
	height: 100%;
  display: flex;
  padding: 40px 0 40px 40px;
  background-color: #0f1920;
  flex-direction: column;
}

.home-image-container {
	width: calc(50vw - 40px);
	height: calc(100% - 80px);
	position: absolute;
	background-color: white;
}
.home-text-container{
	width: calc(50vw - 40px);
	height: calc(100% - 80px);
	position: absolute;
	right: 65px;
	background-color: #0f1920;
	z-index: 1;
}
.home-center-heading-container {
	margin: 0 auto;
	z-index: 10;
	height: 90%;
}
.home-center-heading-container p {
	color: #e28600;
	margin: 0;
	word-break: break-word;
}
.center-heading {
	font-size: 125px;
	padding: 40% 0 5% 0;
	letter-spacing: 10px;
	font-weight: bolder;
	text-align: center;
	opacity: 1;
}

.center-text {
	font-size: 17px;
	width: 65%;
	font-weight: 200;
	letter-spacing: 2px;
	text-align: end;
	opacity: 0;
	padding-top: 20%;
	padding-left: 200px;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.center-vertically {
  display: table-cell;
  vertical-align: middle;
}
