#project-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #ddd2ce;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.overlay-next-button, .overlay-prev-button, .overlay-close-button {
    width: 15%;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #908987;
}
.overlay-next-button, .overlay-prev-button {
  margin: 2%;
  padding: 2%;
  position: relative;
  top: 45%;
}
.overlay-close-button {
  top: 0;
  position: absolute;
  right: 0;
  margin: 2%;
  padding: 2%;
  cursor: pointer;
}
.overlay-next-button {
  transform: rotate(90deg);
  cursor: e-resize;
}
.overlay-prev-button {
  transform: rotate(-90deg);
  cursor: w-resize;
}

.overlay-prev-button:hover,
.overlay-next-button:hover,
.overlay-close-button:hover {
  color: #5d5957;
}
.overlay-content {
  width: 70%;
  height: 100%;
}
