#project-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ddd2ce;
    overflow-y: hidden;
}

.overlay-main-project-container, .overlay-hobby-project-container{
  color: #3e3e3e;
  height: 90%;
  width: 90%;
  position: fixed;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.2);
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-flex-flow: row wrap;
}
.overlay-main-project-container{
  align-items: center;
}

.overlay-main-project-image {
  width: 40%;
  margin: 2%;
}
.overlay-hobby-project-image {
  width: 30%;
  margin: 1%;
}
.overlay-main-project-image, .overlay-hobby-project-image{
  height:70%;
  position: relative;
}

.overlay-main-project-image img, .overlay-hobby-project-image img{

}
.overlay-hobby-project-image img{
  display: block;
}
.overlay-main-project-image img{
  position: absolute;
}
.overlay-main-project-content {
  height: 60%;
  width: 40%;
  margin: 2%;
}
.overlay-hobby-project-container:target {
  background-color: #000000;
}
.overlay-main-project-content h3{
  text-align: center;
  margin-bottom: 10%;

}
.overlay-main-project-content .sub-heading{
  display: inline-block;
  margin-right: 6%;
  font-size: 15px;
  min-width: 90px;
  font-weight: 500;
}
.overlay-main-project-content p{
  font-size: 14px;
  text-align: justify;
  display: inline-block;
}
.overlay-main-project-content li{
  margin-top: 3%;
  text-align: left;
}

.overlay-main-project-content ul{
  list-style: none;
  padding: 0;
}

.overlay-content {
    position: relative;
    top: 10%;
    max-width: 700px;
    text-align: center;
    overflow: hidden;
}

@media screen and (max-height: 100%) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.overlay-animation-appear {
  opacity: 0;
  left:10%;
}

.overlay-animation-appear.overlay-animation-appear-active {
  opacity: 1;
  left:0px;
  transition: opacity 0.5s ease-in;
  transition: left 0.5s ease;
  -webkit-transition: opacity 0.5s ease-in;
  -webkit-transition: left 0.5s ease;
}
