.side-scroll {
  background: #0f1920;
  width: 65px;
  padding-top: 2%;
  height: 100vh;
  right: 0;
  position: fixed;
  color: #e28600;
}

.side-scroll .scroll-content {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  white-space: nowrap;
  font-size: 21px;
  margin-top: 20px;
  letter-spacing: 2px;
}
